<mat-card class="calendar-card" [ngSwitch]="calendar.view">
  <mat-card-title>
    <span>{{ calendar.viewDate | calendarDate:(calendar.view + 'ViewTitle'):'en' }}</span>
    <span class="spacer"></span>
    <div>

      <button mat-flat-button
              (click)="calendar.setView(calendar.CalendarView.Month)"
              [class.active]="calendar.view === calendar.CalendarView.Month">
    <span>
      Month
    </span>
      </button>
      <button mat-flat-button
              class="btn btn-primary"
              (click)="calendar.setView(calendar.CalendarView.Week)"
              [class.active]="calendar.view === calendar.CalendarView.Week"
      >
        <span>Week</span>
      </button>
      <button mat-flat-button
              class="btn btn-primary"
              (click)="calendar.setView(calendar.CalendarView.Day)"
              [class.active]="calendar.view === calendar.CalendarView.Day"
      >
        <span>Day</span>
      </button>



    </div>
  </mat-card-title>
  <mat-card-content>
    <mwl-calendar-month-view
      *ngSwitchCase="calendar.CalendarView.Month"
      [viewDate]="calendar.viewDate"
      [events]="calendar.events"
      [refresh]="calendar.refresh"
      [activeDayIsOpen]="calendar.activeDayIsOpen"
      (dayClicked)="calendar.dayClicked($event.day)"
      (eventClicked)="calendar.handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="calendar.eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="calendar.CalendarView.Week"
      [viewDate]="calendar.viewDate"
      [events]="calendar.events"
      [refresh]="calendar.refresh"
      (eventClicked)="calendar.handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="calendar.eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="calendar.CalendarView.Day"
      [viewDate]="calendar.viewDate"
      [events]="calendar.events"
      [refresh]="calendar.refresh"
      (eventClicked)="calendar.handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="calendar.eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </mat-card-content>
  <mat-card-actions>

    <button mat-flat-button         mwlCalendarPreviousView
            [view]="calendar.view"
            [(viewDate)]="calendar.viewDate"
            (viewDateChange)="calendar.closeOpenMonthViewDay()">
      <span>
        Previous
      </span>
    </button>

    <button mat-flat-button         mwlCalendarToday
            [(viewDate)]="calendar.viewDate">
      <span>
        Today
      </span>

    </button>

    <button mat-flat-button mwlCalendarNextView
            [view]="calendar.view"
            [(viewDate)]="calendar.viewDate"
            (viewDateChange)="calendar.closeOpenMonthViewDay()">
      <span>Next</span>
    </button>
  </mat-card-actions>
</mat-card>


