<div class="poi-list card-list" *ngIf="ready && renderData && renderData.length">

  <div class="poi-list-item card-list-item" *ngFor="let poi of renderData">
    <mat-card class="poi-card card-list-card">
      <mat-card-title (click)="setEditEntry(poi)">
        <span class="icon-box margin-right">
          <mat-icon>place</mat-icon>
        </span>
        <span *ngIf="poi.name">{{adminService.text(poi.name)}}</span>
        <span *ngIf="!poi.name">{{poi.id}}</span>
        <span class="spacer"></span>
      </mat-card-title>
      <mat-card-content>
        <div *ngIf="poi.imageId">
          <app-image-preview *ngIf="poi.imageId" [id]="poi.imageId"></app-image-preview>
        </div>
        <p *ngIf="poi.description">
          {{poi.description}}
        </p>
        <div *ngIf="!poi.id || !showMap[poi.id]">
          <table>
            <tbody>
            <tr>
              <th>{{adminService.text('Latitude')}}</th>
              <td><i>{{poi.latitude}}</i></td>
            </tr>
            <tr>
              <th>{{adminService.text('Longitude')}}</th>
              <td><i>{{poi.longitude}}</i></td>
            </tr>
            <tr *ngIf="poi.markerImageId">
              <th>{{adminService.text('Marker Image')}}</th>
              <td>
                <app-image-preview *ngIf="poi.markerImageId" [id]="poi.markerImageId"></app-image-preview>
              </td>
            </tr>
            </tbody>
          </table>

          <app-file-preview *ngIf="poi.fileId" [id]="poi.fileId"></app-file-preview>
        </div>

        <div *ngIf="poi.id && showMap[poi.id]">
          <app-poi-map
            [poi]="poi"
            [pois]="[poi]"
            [latitude]="poi.latitude"
            [longitude]="poi.longitude"
          ></app-poi-map>
        </div>

      </mat-card-content>


      <mat-card-actions align="end">
        <button mat-icon-button (click)="togglePoiMap(poi)" [disabled]="!poi.id">
          <mat-icon>map</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button (click)="deleteEntry(poi)" [disabled]="!poi.id">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="setEditEntry(poi)" [disabled]="!poi.id">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


