.is-mobile{
  display: none !important;
}

.is-desktop{
  display: block !important;
}


@media (max-width: 480px) {

  .is-mobile{
    display: block !important;
  }

  .is-desktop{
    display: none !important;
  }

  .horizontal-flex-mobile {
    display: flex !important;
    flex-direction: row !important;
  }


  .vertical-flex-mobile {
    display: flex !important;
    flex-direction: column !important;
  }

  .flex-item-mobile {
    flex: 1 !important;
  }

  .full-width-mobile {
    width: 100% !important;
    flex: 100% !important;
  }


}
