<div *ngIf="showPaginator">
  <mat-toolbar class="white no-padding">
    <button mat-icon-button (click)="newEntry()">
      <mat-icon>add</mat-icon>
    </button>
    <span class="spacer"></span>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" aria-label="Select page" #paginator></mat-paginator>
  </mat-toolbar>
</div>
<div class="memo-list card-list" *ngIf="dataSource && renderData&& renderData.length">
  <div class="memo-list-item card-list-item" *ngFor="let memo of renderData">
    <mat-card class="memo-card card-list-card">
      <mat-card-title (click)="setEditEntry(memo)">
        <span *ngIf="memo.title">{{adminService.text(memo.title)}}</span>
        <span *ngIf="!memo.title">{{memo.id}}</span>
        <span class="spacer"></span>
      </mat-card-title>
      <mat-card-content>
        <p *ngIf="memo.description">
          {{memo.description}}
        </p>
        <app-poi-map *ngIf="showMemo && memo.poiId" [poiId]="memo.poiId"></app-poi-map>
        <app-image-preview *ngIf="memo.imageId" [id]="memo.imageId"></app-image-preview>
        <app-file-preview *ngIf="memo.fileId" [id]="memo.fileId"></app-file-preview>
      </mat-card-content>

      <mat-card-actions align="end">
        <button *ngIf="memo.poiId" mat-icon-button (click)="showMemo = !showMemo" [disabled]="!memo.id">
          <mat-icon>map</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteEntry(memo);" [disabled]="!memo.id">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="setEditEntry(memo)" [disabled]="!memo.id">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

