<ng-container *ngIf="!platform.user">
  <mat-card>
    <mat-card-title>{{platform.text('Anmelden')}}</mat-card-title>
    <mat-card-subtitle>{{platform.text('Gib deine Daten ein')}}</mat-card-subtitle>
    <mat-card-actions>
    </mat-card-actions>
    <mat-card-content>
      <mat-form-field class="backend-admin-form-field" appearance="fill">
        <mat-label>{{platform.text('Name')}}</mat-label>
        <input matInput type="text" [(ngModel)]="platform.userCredentials.username">
        <button *ngIf="platform.userCredentials.username" matSuffix mat-icon-button aria-label="Clear" (click)="platform.userCredentials.username=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="backend-admin-form-field" appearance="fill">
        <mat-label>{{platform.text('Passwort')}}</mat-label>
        <input matInput type="password" [(ngModel)]="platform.userCredentials.password">
        <button *ngIf="platform.userCredentials.password" matSuffix mat-icon-button aria-label="Clear" (click)="platform.userCredentials.password=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="platform.login()">{{platform.text('Anmelden')}}</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
