<div class="overlay" *ngIf="entry">
  <div class="overlay-background" (click)="cancel();"></div>
  <div class="overlay-content">
    <mat-card class="overlay-card">
      <mat-card-title>
        <span *ngIf="!entry.id"> <b>{{adminService.text('New Entry')}}</b></span>
        <span *ngIf="entry.id"> <b>{{'ID ' + entry.id}}</b></span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="cancel();">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content class="overlay-content" *ngIf="loading">
        <div class="loader-box">
          <mat-spinner></mat-spinner>
        </div>
      </mat-card-content>
      <mat-card-content class="overlay-content" *ngIf="!loading">
        <mat-tab-group class="overlay-tab-group" *ngIf="entry" mat-align-tabs="center" [selectedIndex]="tabIndex"
                       animationDuration="0ms"
                       headerPosition="below"
                       (selectedIndexChange)="tabIndex = $event"
        >

          <mat-tab *ngIf="apiRoute" class="overlay-tab" [label]="apiRoute">

            <ng-container *ngFor="let attribute of editAttributes">

              <mat-form-field class="backend-admin-form-field" appearance="fill">
                <mat-label>{{adminService.text(attribute.name)}}</mat-label>
                <input matInput type="text" name="title" [(ngModel)]="entry[attribute.field]"
                       (keyup.enter)="saveEntry()">
              </mat-form-field>

            </ng-container>


          </mat-tab>

        </mat-tab-group>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-icon-button (click)="saveEntry();" [disabled]="!valid() || loading">
          <mat-icon>save</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
