<div class="admin-dashboard-content" *ngIf="adminService.dashboard.page">

  <app-backend-admin-dashboard-content-dashboard
    class="dashboard-content"
    *ngIf="adminService.dashboard.page.name === 'Dashboard'"
  >
  </app-backend-admin-dashboard-content-dashboard>

  <app-backend-admin-dashboard-projects
    class="dashboard-content"
    *ngIf="adminService.dashboard.page.name === 'Projects'">
  </app-backend-admin-dashboard-projects>

  <app-backend-admin-dashboard-tasks
    class="dashboard-content"
    *ngIf="adminService.dashboard.page.name === 'Tasks'">
  </app-backend-admin-dashboard-tasks>

  <app-backend-admin-dashboard-companies
    class="dashboard-content"
    *ngIf="adminService.dashboard.page.name === 'Companies'">
  </app-backend-admin-dashboard-companies>
  <app-backend-admin-dashboard-content-users
    class="dashboard-content"
    *ngIf="adminService.dashboard.page.name === 'Users'">
  </app-backend-admin-dashboard-content-users>

  <app-backend-admin-dashboard-data
    class="dashboard-content"

    *ngIf="adminService.dashboard.page.name === 'Data'">
  </app-backend-admin-dashboard-data>

  <app-backend-admin-dashboard-content-account
    class="dashboard-content"

    *ngIf="adminService.dashboard.page.name === 'Account'">
  </app-backend-admin-dashboard-content-account>


  <app-backend-admin-dashboard-settings
    class="dashboard-content"
    *ngIf="adminService.dashboard.page.name === 'Settings'">
  </app-backend-admin-dashboard-settings>

  <app-backend-settings *ngIf="adminService.ready"></app-backend-settings>

  <app-backend-admin-dashboard-edit-views></app-backend-admin-dashboard-edit-views>


</div>
