/*
@font-face {
  font-family: 'Nunito';
  src: url(/assets/fonts/Nunito/Nunito-VariableFont_wght.ttf) format('truetype'),
  url(/assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf) format('truetype');
}
 */

$font-family-default: 'Arial', sans-serif;
$font-family-secondary: 'Arial', sans-serif;
