<div *ngIf="adminService.currentBackendError" class="error-message-container">
  <mat-card class="error-card">
    <mat-card-title>{{adminService.text('Error')}} </mat-card-title>
    <mat-card-content>
      {{adminService.text(adminService.currentBackendError.message)}}

      <p *ngIf="adminService.autoReload">
        {{adminService.text('Reload in')}} {{adminService.timeToAutoReload()}}
      </p>

    </mat-card-content>
    <mat-card-content *ngIf="adminService.currentBackendError.info">
      {{adminService.text(adminService.currentBackendError.info)}}
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button color="primary" (click)="adminService.currentBackendError = undefined">
        {{adminService.text('OK')}}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="adminService.connectionError" class="error-message-container">
  <mat-card class="error-card">
    <mat-card-title>{{adminService.text('Error')}} </mat-card-title>
    <mat-card-content>
      {{adminService.text(adminService.connectionError.message)}}
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button color="primary" (click)="adminService.connectionError = undefined">
        {{adminService.text('OK')}}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
