<mat-toolbar color="primary" class="content-page-header" *ngIf="adminService.dashboard.page">
  <mat-icon class="margin-right"
            *ngIf="adminService.dashboard.page.icon">{{adminService.dashboard.page.icon}}</mat-icon>
  <span>
    {{adminService.text(adminService.dashboard.page.name)}}
  </span>
</mat-toolbar>

<mat-tab-group *ngIf="adminService.dashboard.page" animationDuration="0ms"
               class="content-tab-group" mat-align-tabs="center"
               [selectedIndex]="adminService.dashboard.page.optionIndex"
               (selectedIndexChange)="adminService.dashboard.page.optionIndex = $event"
>

  <mat-tab [label]="adminService.text('Locations')">
    <app-backend-admin-dashboard-locations></app-backend-admin-dashboard-locations>
  </mat-tab>

  <mat-tab [label]="adminService.text('Files')">
    <app-backend-admin-dashboard-files></app-backend-admin-dashboard-files>
  </mat-tab>

</mat-tab-group>
